<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" class="headerBackButton">
          <ion-back-button (click)="dismiss()" style="display:flex"></ion-back-button>
        </ion-buttons>
    <ion-title>ReviewDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-icon name="heart"></ion-icon>
  <ion-item>
    <b>{{'COFFEE_REVIEW_AUTHOR' | translate}}:</b> {{review.author}}
  </ion-item>
  <ion-item>
    <b>{{'COFFEE_REVIEW_RATING' | translate}}:</b> {{review.rating}}
  </ion-item>
  <ion-item>
    {{review.description}}
  </ion-item>
</ion-content>